<div class="container-xl mb-5 mt-5">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="col-sm-5">
        <h2>Add <b>New Vehicle</b></h2>
      </div>
    </div>
    <div class="container gradient-custom mt-5">
      <div class="row justify-content-center mt-4 mb-4">
        <form class="w-75" method="post">
          <div class="form-group">
            <label for="car-make">Make</label>
            <input type="text" class="form-control" name="car-make" />
          </div>

          <div class="form-group">
            <label for="car-model">Model</label>
            <input type="text" class="form-control" name="car-model" />
          </div>

          <div class="form-group">
            <label for="car-power">Horsepower</label>
            <input type="text" class="form-control" name="car-power" />
          </div>

          <div class="form-group">
            <label for="car-color">Color</label>
            <input type="text" class="form-control" name="car-color" />
          </div>

          <div class="form-group">
            <label for="car-year">Year</label>
            <input type="text" class="form-control" name="car-year" />
          </div>

          <div class="form-group">
            <label for="car-year">Location</label>
            <input type="text" class="form-control" name="car-location" />
          </div>

          <div class="form-group">
            <p>Image</p>
            <input
              type="file"
              class="form-control-file"
              name="car-image"
              accept="image/*"
            />
          </div>

          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
