<div class="container-xl mb-5 mt-5">
  <div class="table-wrapper">
    <div class="table-title">
      <div class="col-sm-5">
        <h2>Add <b>New Vehicle</b></h2>
      </div>
    </div>
    <div class="container gradient-custom mt-3">
      <div class="row justify-content-center mt-4 mb-2">
        <form #form="ngForm" (ngSubmit)="addVehicle(form)" class="w-100">
          <app-success *ngIf="showSuccessMsg" [successToastTitle]="successTitleMsg"
            [successToastBody]="successBodyMsg"></app-success>
          <div class="form-group">
            <label for="car-make">Make</label>
            <input type="text" class="form-control" name="make" #make="ngModel" ngModel />
          </div>

          <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" name="model" #model="ngModel" ngModel />
          </div>

          <div class="form-group">
            <label for="power">Horsepower</label>
            <input type="text" class="form-control" name="power" #power="ngModel" ngModel />
          </div>

          <div class="form-group">
            <label for="color">Color</label>
            <input type="text" class="form-control" name="color" #color="ngModel" ngModel />
          </div>

          <div class="form-group">
            <label for="year">Year</label>
            <input type="text" class="form-control" name="year" #year="ngModel" ngModel />
          </div>

          <div class="form-group">
            <label for="year">Location</label>
            <input type="text" class="form-control" name="location" #location="ngModel" ngModel />
          </div>

          <div class="form-group">
            <p>Image</p>
            <input type="file" id="image" class="form-control-file" name="image" accept="image/*"
              (change)="onUpload($event)" #image="ngModel" ngModel />
          </div>
          <div class="form-group">
            <img [src]="selectedImage" class="img-thumbnail img-preview mt-2 mb-2">

          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary mt-3">Submit</button>

          </div>
          <div class="form-group">
            <div class="container-loader">
              <p class="validation-error">{{errorMessage}}</p>
              <app-loader *ngIf="isLoading" class="mt-2"></app-loader>
            </div>
          </div>




        </form>
      </div>
    </div>
  </div>
</div>