<app-book-modal *ngIf="vehicleObject" [vehicleFromDetails]="vehicleObject">

</app-book-modal>

<div class="container">
    <div class="card">
        <div class="card-body">

            <div class="table-title mt-2 mb-5">
                <div class="row">
                    <div class="col-sm-9 book-now-col">
                        <ng-container *ngIf="vehicleObject">
                            <h2>{{vehicleObject.make}} {{vehicleObject.model}}</h2>
                        </ng-container>
                    </div>
                    <div *ngIf="state.isLogged" class="col-sm-3 book-now-col">
                        <a class="btn btn-success" data-toggle="tooltip" type="button" data-bs-toggle="modal"
                            data-bs-target="#bookModal">
                            <span>Book Now</span></a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="d-flex justify-content-center">
                    <ng-container *ngIf="state.isLoading">
                        <app-loader></app-loader>
                    </ng-container>
                </div>
            </div>
            <ng-container *ngIf="vehicleObject">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-6">
                        <div class="white-box text-center"><img src={{vehicleObject.image}} class="img-responsive">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h4 class="box-title mt-5">General Info</h4>
                        <div class="table-responsive">
                            <table class="table table-striped table-product">

                                <tbody class="mt-4">
                                    <tr>
                                        <td>Brand</td>
                                        <td width="390">{{vehicleObject.make}}</td>
                                    </tr>
                                    <tr>
                                        <td>Model</td>
                                        <td width="390">{{vehicleObject.model}}</td>
                                    </tr>
                                    <tr>
                                        <td>Horsepower</td>
                                        <td>{{vehicleObject.horsepower}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>{{vehicleObject.location}}</td>
                                    </tr>

                                    <tr>
                                        <td>Color</td>
                                        <td>{{vehicleObject.color}}</td>
                                    </tr>
                                    <tr>
                                        <td>Year</td>
                                        <td>{{vehicleObject.year}}</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</div>