element {
    width: 350px;
    display: block;
    top: 10px;
    right: 10px;
    bottom: unset;
    left: unset;
    transform: unset;
}

.toast-info {
    background-color: #def1f7;
    color: #1c657d;
    border-color: #c6e6f1;
}

.toast-fixed {
    position: fixed;
    z-index: var(--mdb-toast-zindex);
}

.toast {
    --mdb-toast-border-bottom-width: 2px;
    --mdb-toast-btn-close-width: 1.3em;
    --mdb-toast-btn-close-mr: -0.375rem;
    --mdb-toast-btn-close-ml: 0.75rem;
    border: 0;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
}

.fade {
    transition: opacity .15s linear;
}

.toast {
    --mdb-toast-zindex: 1060;
    --mdb-toast-padding-x: 1rem;
    --mdb-toast-padding-y: 0.65rem;
    --mdb-toast-spacing: 1.5rem;
    --mdb-toast-max-width: 350px;
    --mdb-toast-font-size: 0.875rem;
    --mdb-toast-bg: #fff;
    --mdb-toast-border-width: 1px;
    --mdb-toast-border-color: var(--mdb-border-color-translucent);
    --mdb-toast-border-radius: 0.5rem;
    --mdb-toast-box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
    --mdb-toast-header-color: #757575;
    --mdb-toast-header-bg: #fff;
    --mdb-toast-header-border-color: rgba(0, 0, 0, 0.05);
    width: var(--mdb-toast-max-width);
    max-width: 100%;
    font-size: var(--mdb-toast-font-size);
    color: var(--mdb-toast-color);
    pointer-events: auto;
    background-color: var(--mdb-toast-bg);
    background-clip: padding-box;
    border: var(--mdb-toast-border-width) solid var(--mdb-toast-border-color);
    box-shadow: var(--mdb-toast-box-shadow);
    border-radius: var(--mdb-toast-border-radius);
}

.toast-danger {
    background-color: #f9e1e5;
    color: #af233a;
    border-color: #f4c8cf;
}

.toast-success {
    background-color: #d6f0e0;
    color: #0d6831;
    border-color: #c0e7d0;
}