<div class="container-xl">
  <div class="table-responsive">
    <form class="d-flex mb-4 mt-2 p-2" role="search">
      <input
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary search-btn" type="submit">
        Search
      </button>
    </form>
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2>All <b>Vehicles</b></h2>
          </div>
          <div class="col-sm-7">
            <a routerLink="/add-vehicle" class="btn btn-secondary">
              <span>Add New Vehicle</span></a
            >
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center"></th>
            <th>Date Created</th>
            <th>Location</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <span class="heart-red"
                ><fa-icon [icon]="faHeart"></fa-icon
              ></span>
            </td>
            <td>
              <a href="#"
                ><img
                  src="assets/images/cars/gls.webp"
                  class="avatar"
                  alt="CarImage"
                />
                Mercedes-Benz GLS580 4Matic</a
              >
            </td>
            <td>04.10.2017</td>
            <td>Sofia, Bulgaria</td>
            <td><span class="status text-success">&bull;</span> Active</td>
            <td>
              <a
                routerLink="/edit-vehicle"
                class="settings"
                title="Edit"
                data-toggle="tooltip"
                ><fa-icon [icon]="faEdit"></fa-icon
              ></a>
              <a
                class="delete"
                title="Delete"
                data-toggle="tooltip"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#confirmModal"
                ><fa-icon [icon]="faTrash"></fa-icon
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-confirm-modal/>
<!-- <tr>
      <td>2</td>
      <td>
        <a href="#"
          ><img
            src="assets/images/cars/eqs-suv.webp"
            class="avatar"
            alt="Avatar"
          />
          Mercedes-Benz EQS580 SUV</a
        >
      </td>
      <td>05/08/2014</td>
      <td>Publisher</td>
      <td><span class="status text-success">&bull;</span> Active</td>
      <td>
        <a
          href="#"
          class="settings"
          title="Settings"
          data-toggle="tooltip"
          ><i class="material-icons">&#xE8B8;</i></a
        >
        <a href="#" class="delete" title="Delete" data-toggle="tooltip"
          ><i class="material-icons">&#xE5C9;</i></a
        >
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>
        <a href="#"
          ><img
            src="assets/images/cars/s-class.webp"
            class="avatar"
            alt="Avatar"
          />
          Mercedes-Benz S580L 4Matic</a
        >
      </td>
      <td>11/05/2015</td>
      <td>Publisher</td>
      <td><span class="status text-danger">&bull;</span> Suspended</td>
      <td>
        <a
          href="#"
          class="settings"
          title="Settings"
          data-toggle="tooltip"
          ><i class="material-icons">&#xE8B8;</i></a
        >
        <a href="#" class="delete" title="Delete" data-toggle="tooltip"
          ><i class="material-icons">&#xE5C9;</i></a
        >
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>
        <a href="#"
          ><img
            src="assets/images/cars/c-class.webp"
            class="avatar"
            alt="Avatar"
          />
          Mercedes-Benz C220d</a
        >
      </td>
      <td>06/09/2016</td>
      <td>Reviewer</td>
      <td><span class="status text-success">&bull;</span> Active</td>
      <td>
        <a
          href="#"
          class="settings"
          title="Settings"
          data-toggle="tooltip"
          ><i class="material-icons">&#xE8B8;</i></a
        >
        <a href="#" class="delete" title="Delete" data-toggle="tooltip"
          ><i class="material-icons">&#xE5C9;</i></a
        >
      </td>
    </tr> -->
