input {
  margin-left: 10px;
  margin-right: 10px;
}
.logo {
  width: 80px;
  height: auto;
}
.pointer {
  cursor: pointer;
}

.nav-user {
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
