<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-5">
            <h2>My <b>Booked Vehicles</b></h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th></th>
            <th class="text-center"></th>
            <th>Take Date</th>
            <th>Return Date</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of bookedVehicles">
            <td>
              <span class="heart-red"></span>
            </td>
            <td>
              <a href="#"><img src={{car.vehicle.image}} class="avatar" alt="CarImage" />
                {{car.vehicle.make}} {{car.vehicle.model}}</a>
            </td>

            <td>{{moment(car.reservationFromDate).format('DD/MM/YYYY - HH:mm:ss')}}</td>
            <td>{{moment(car.reservationToDate).format('DD/MM /YYYY - HH:mm:ss')}}</td>
            <td *ngIf="!moment(car.reservationToDate).isBefore(moment(today?._d))"><span
                class="status text-success">&bull;</span> Active</td>
            <td *ngIf="moment(car.reservationToDate).isBefore(moment(today?._d))"><span
                class="status text-danger">&bull;</span> Suspended</td>
            <td>{{moment(car.reservationToDate).fromNow()}}</td>
            <td></td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>